    .scrollbox {
        overflow: auto; /* This is changed by enscroll, but must be defined */
        width: 100%; /* The arbitrary width and height of the view pane */
        height: 300px;
    }
    .vertical-track {
        width: 6px; /* How wide is the scrollbar going to be? */
        background-color: #aaa; /* What color should the vertical track be? */
    }
    .vertical-handle {
        width: 3px; /* How wide is the scrollbar handle? */
        background-color: #c9c9c9; /* What color should the handle be? */
    }